@import "../../../variables.scss";


.about-picture {
    display: inline-block;
    text-align: center;
    img {
        margin: auto;
    }
}
.about-text {
    width: 40%;
    display: inline-block;
    h2 {
        border-bottom: 2px solid $primary-color;
    }
}