<div class="content">
    <mat-chip-list >
        <div class="languages" *ngFor="let language of languages">
            <mat-chip (click)="filterProjects(language)">{{language}}</mat-chip>
        </div>
        <mat-chip (click)="resetFilter()">{{ 'projects.showAll' | translate}}</mat-chip>
    </mat-chip-list>
    <div class="projects-list" *ngIf="shownRepositories else loading">
        <div *ngFor="let repo of shownRepositories">
            <mat-card>
                <mat-card-title>{{repo.name}}</mat-card-title>
                <mat-chip-list class="languages" *ngFor="let language of repo.languages">
                    <mat-chip>{{language}}</mat-chip>
                </mat-chip-list>
                <mat-card-content>{{repo.description}}</mat-card-content>
                <mat-card-actions>
                    <a mat-raised-button [disabled]=repo.private>{{ 'projects.liveDemo' | translate}}</a>
                    <a mat-raised-button [disabled]=repo.private [href]=repo.html_url target="_blank">{{ 'projects.sourceCode' | translate}}</a>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>
</div>

<ng-template #loading>
    <div>loading...</div>
</ng-template>