<div class="content">
    <div class="stripe"></div>
    <h1>{{ 'menu.projects' | translate }}</h1>
    <p>{{ 'projects.github' | translate }}</p>
    <mat-chip-list >
        <div class="languages" *ngFor="let language of languages">
            <mat-chip (click)="filterProjects(language)">{{language}}</mat-chip>
        </div>
        <mat-chip (click)="resetFilter()">{{ 'projects.showAll' | translate}}</mat-chip>
    </mat-chip-list>
    <div class="projects-list" *ngIf="shownRepositories else loading">
        <div *ngFor="let repo of shownRepositories">
            <div class="project">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <img src="../../../assets/img/projects/{{repo.name}}.png" onerror="this.src = '../../../assets/img/placeholder.png'" />
                        <h2>{{repo.name}}</h2>
                    </div>
                    <div class="flip-card-back">
                        <h3>{{repo.name}}</h3>
                        <span>{{repo.description}}</span>
                        <a *ngIf=!repo.private [href]=repo.html_url target="_blank" rel="noreferrer"><fa-icon [icon]="faGithub"></fa-icon></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<ng-template #loading>
    <mat-progress-spinner mode="indeterminate" style="margin: auto;"></mat-progress-spinner>
    <span id="loading">{{ 'loading' | translate}}</span>
</ng-template>