<div>
  <app-menu></app-menu>
  <div id="main-content">
    <app-about></app-about>
    <!-- <app-projects></app-projects>
    <app-contact></app-contact> -->
  </div>
</div>
<div class="languages">
  <div *ngFor="let lang of translate.getLangs()" class="language">
    <input type="radio" name="language" (change)="translate.use(lang)" [checked]="translate.currentLang == lang" [id]="lang" [value]="lang">
    <label [for]="lang" class="tooltip">
        <img src="assets/img/flags/{{lang}}.png" [alt]="lang"/>
        <span class="tooltiptext">{{lang}}</span>
    </label>
  </div>
</div>