@import "../../../variables.scss";


nav {
    background-color: $background-color;
    color: white;
    width: 200px;
    height: 100%;
    position: fixed;
    font-size: 20px;
    fa-icon#hamburger {
        display: none;
    }
    h1 { //Just to test
        font-weight: bold;
        font-size: 3em;
        margin: 10px;
        color: $primary-color;
        text-shadow: -3px 0px $secondary-color;
        letter-spacing: 10px;
        display: block;
        text-align: center;
        cursor: pointer;
    } 
    ul {
        list-style-type: none;
        padding: 0;
        li {
            padding: 10px;
            cursor: pointer;
            a {
                color: #979797;
                &.active {
                    color: white;
                }
                fa-icon {
                    text-align: center;
                    svg {
                        min-width: 100px !important;
                    }
                    
                }
            }
            span {
                padding-left: 10px;
            }
        }
        .socials {
            position: absolute;
            bottom: 15px;
            li {
                a {
                    color: white;
                }
            }
        }
    }
}

span {
    opacity: 1;
}

a {
    color: white;
    text-decoration: none;
    fa-icon {
        svg {
            width: 40px;
        }
    }
}

@media (max-width: 768px) {
    nav#desktop-nav {
        top: 0;
        width: 100% !important;
        height: 65px;
        z-index: 99;
        fa-icon{
            &#hamburger {
                display: block;
                color: $secondary-color;
                position: absolute;
                top: 15px;
                right: 15px;
                font-size: 30px;
            }
        }
        ul {
            position: fixed;
            width: 100%;
            background-color: #213a42;
            top: 65px;
            margin: 0;
            padding: 5px 0;
            transition: visibility .3s, opacity .3s;
            li {
                display: inline-block;
                padding: 0;
                width: 25%;
                span {
                    position: unset !important;
                    font-size: 12px;
                    display: inline-block;
                    width: 100%;
                    padding-left: 0;
                }
            }
            div.socials {
                display: none;
            }
        }
        li#collapse {
            display: none;
        }
            
        h1 {
            width: fit-content;
        }
    }
}